body {
    overflow-x: hidden;
}

/* Niramaya */
.niramaya {
    /* position: relative; */
    /* width: 67px;
    height: 27px; */
    /* left: 68px;
    top: 23px; */
    margin-right: 80px;

    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    /* line-height: 37px; */

    color: #000000;
}

.navbar {
    
    align-items: center;
}

/* landing */

.v3_22 {
    width: 324px;
    height: 299px;
    /* border-radius: 0% 0% 0% 15%; */
    border-color: #000000;
    border-radius: 8px;
    background: url("../images/v3_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 30px;
    /* left: 600px; */
    overflow: hidden;

}

.v1_21 {
    width: 296px;
    height: 280px;
    background: rgba(231, 228, 248, 1);
    opacity: 1;
    position: absolute;
    top: 19px;
    left: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.v1_23 {
    width: 105px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 34px;
    left: 17px;
    font-family: Catamaran;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v2_10 {
    width: 162px;
    height: 140px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 96px;
    left: 17px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
}

.v2_13 {
    width: 94px;
    height: 29px;
    background: rgba(105, 88, 211, 1);
    opacity: 1;
    position: absolute;
    top: 249px;
    left: 183px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    overflow: hidden;
}

.v2_11 {
    width: 13px;
    height: 9px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 8px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.v2_12 {
    width: 145px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 107px;
    left: 25px;
    font-family: Catamaran;
    font-weight: Regular;
    font-size: 11px;
    opacity: 1;
    text-align: left;
}

.v2_15 {
    width: 66px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 255px;
    left: 197px;
    font-family: Catamaran;
    font-weight: Regular;
    font-size: 11px;
    opacity: 1;
    text-align: left;
}

.v34_48 {
    width: 64px;
    height: 62px;
    background: url("../images/v34_48.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 260px;
    overflow: hidden;
}

.v3_21 {
    width: 64px;
    height: 62px;
    background: url("../images/v3_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v3_16 {
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 0px;
    border-radius: 50%;
}

.v3_17 {
    width: 60px;
    height: 60px;
    background: rgba(183, 175, 232, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 4px;
    border-radius: 50%;
}

.v34_47 {
    width: 42px;
    height: 20px;
    background: url("../images/v34_47.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 22px;
    left: 13px;
    overflow: hidden;
}

.v16_324 {
    width: 42px;
    height: 20px;
    background: rgba(63, 61, 86, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0.10000000149011612px solid rgba(0, 0, 0, 1);
}

.v16_328 {
    width: 3px;
    height: 3px;
    background: rgba(63, 61, 86, 1);
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
}

.v16_329 {
    width: 36px;
    height: 1px;
    background: rgba(105, 88, 211, 1);
    opacity: 1;
    position: absolute;
    top: 9px;
    left: 2px;
}

.v16_330 {
    width: 25px;
    height: 1px;
    background: rgba(105, 88, 211, 1);
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 2px;
}




.v3_23 {
    width: 356px;
    height: 80px;
    background: url("../images/v3_23.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_18 {
    width: 350px;
    height: 75px;
    background: rgba(0, 0, 0, 1);
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 0px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
}

.v1_17 {
    width: 350px;
    height: 75px;
    background: rgba(183, 175, 232, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 6px;
    border: 2px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    overflow: hidden;
}

.v1_19 {
    width: 220px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 10px;
    left: 46px;
    font-family: Catamaran;
    font-weight: Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v1_20 {
    width: 150px;
    color: rgba(77, 71, 71, 1);
    position: relative;
    top: 32px;
    left: 46px;
    font-family: Catamaran;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

h3 {
    margin-left: 60px;
    margin-top: 80px;

    font-size: 20px;
    font-family: Catamaran;

    font-weight: 800;
}

h2 {
    margin-left: 60px;
    margin-top: 80px;
    font-size: 55px;
    font-family: Catamaran;

    font-weight: 800;
}

.text {
    position: relative;
    margin-left: 60px;
    width: 511px;
    height: 115px;
    /* left: 88px;
    top: 485px; */

    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    /* line-height: 23px; */


    color: #4E4848;
}



.text-scroll {
    text-align: left;
    font-family: Catamaran;

    font-weight: 800;
}

.text-scroll-1 {
    text-align: left;
    margin-left: 60px;



}

.services {
    align-items: center;
}

.v12 {
    align-items: center;
    background: rgba(183, 175, 232, 1);
    text-align: center;

    width: 134px;
    height: 30px;
    border-radius: 8px;
    font-family: Catamaran;

    font-weight: 800;
    color: #6958D3;
    letter-spacing: 0.2em;

}

#service-image {
    /* -ms-grid-column-align: center; */
    /* margin-left: 60px; */
    /* align-items: center; */
    margin-left: 30px;
}


/* profile */
.sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);

    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: fixed;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

 .profile-heading {
    font-family: Roboto;
    display: inline;
    margin-left: 100px;
    /* font-size: 21px;
    font-weight: 700;
    line-height: 36px; */
    letter-spacing: 0em;
    text-align: center;

}

.assess-rectangle {

    position: relative;
    width: 277px;
    height: 345px;
    margin-left: 300px;
    /* margin-top: 60px; */
    background: linear-gradient(151.41deg, rgba(183, 175, 233, 0.6) 4.63%, rgba(151, 138, 231, 0.86) 95.48%);
    border-radius: 24px;
}


.assess-rectangle-1 {

    position: relative;
    width: 199px;
    height: 181.42px;
    margin-left: 80px;
    margin-top: 60px;
    background: linear-gradient(151.41deg, rgba(183, 175, 233, 0.6) 4.63%, rgba(151, 138, 231, 0.86) 95.48%);
    border-radius: 24px;
}

.analysis {
    align-items: center;
}

.circle-wrap {
    margin: 150px auto;
    width: 150px;
    height: 150px;
    background: #fefcff;
    border-radius: 50%;
    border: 1px solid #cdcbd0;
  }
  
  .circle-wrap .circle .mask,
  .circle-wrap .circle .fill {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: linear-gradient(151.41deg, rgba(183, 175, 233, 0.6) 4.63%, rgba(151, 138, 231, 0.86) 95.48%);
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: black;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
  
  /* color animation */
  
  /* 3rd progress bar */
  .mask .fill {
    clip: rect(0px, 75px, 150px, 0px);
    background-color: #6958D3;
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(145deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(145deg);
    }
  }

  /* footer */

  footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #f1f1f5;
  }
  footer .content{
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .content p,a{
    color: #121111;
  }
  footer .content .box{
    width: 33%;
    transition: all 0.4s ease;
  }
  footer .content .topic{
    font-size: 22px;
    font-weight: 600;
    color: #040404;
    margin-bottom: 16px;
  
  }
  footer .content p{
    text-align: justify;
  }
  footer .content .lower .topic{
    margin: 24px 0 5px 0;
  }
  footer .content .lower i{
    padding-right: 16px;
  }
  footer .content .middle{
    padding-left: 80px;
  }
  footer .content .middle a{
    line-height: 32px;
  }
  footer .content .right input[type="text"]{
    height: 45px;
    width: 100%;
    outline: none;
    color: #1b1a1a;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
  }
  footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: #6958D3;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #6958D3;
    transition: all 0.3s ease-in-out;
  }
  .content .right input[type="submit"]:hover{
    background: none;
    color:  #010101;
  }
  footer .content .media-icons a{
    font-size: 16px;
    height: 35px;
    width: 35px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    /* border: 2px solid #222222; */
    margin: 30px 5px 5px 5px;
    transition: all 0.3s ease;
  }
  .content .media-icons a:hover{
    color: #dfdbda;
  }
  footer .bottom{
    width: 100%;
    text-align: right;
    color: #201f1f;
    padding: 0 40px 5px 0;
  }
  
  footer .bottom a{
    color: #6e392d;
  }
  footer a{
    transition: all 0.3s ease;
  }
  footer a:hover{
    color: #eb2f06;
  }
  @media (max-width:1100px) {
    footer .content .middle{
      padding-left: 50px;
    }
  }
  @media (max-width:950px){
    footer .content .box{
      width: 50%;
    }
    .content .right{
      margin-top: 40px;
    }
  }
  @media (max-width:560px){
    footer{
      position: relative;
    }
    footer .content .box{
      width: 100%;
      margin-top: 30px;
    }
    footer .content .middle{
      padding-left: 0;
    }
  }